<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<div>
			<h1>로그인 페이지</h1>
		</div>
		<div>
			<form method="post">
				<div>
					<label for="email">이메일</label>
					<input type="email" id="email" name="email" />
				</div>
				<div>
					<label for="password">패스워드</label>
					<input type="password" id="password" name="password" />
				</div>
				<div>
					<button type="button" onclick="location.href='/signup'">회원가입</button>
					<button type="submit">로그인</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>