<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- 해당 설정파일에서 사용하는 프로퍼티-->
    <Properties>
        <property name="LOGS_PATH">D:\test_logs</property>
    </Properties>

    <Appenders>
        <!-- 콘솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level %logger{35} - %msg%n" />
        </Console>

        <!-- 파일 -->
        <RollingFile name ="RollingFile">
            <FileName>${LOGS_PATH}/log4j2.log</FileName>
            <FilePattern>${LOGS_PATH}/log4j2.%d{yyyy-MM-dd}.%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <!-- Root 보다 우선 순위가 높습니다. -->
        <logger name="jdbc" level="OFF" />
        <logger name="jdbc.sqlonly" level="OFF" /> <!-- SQL문만 로그로 출력, PReparedStatement 일 경우 관련된 argument 값으로 대체된 SQL 문 출력 -->
        <logger name="jdbc.sqltiming" level="DEBUG" /> <!-- SQL을 실행시키는데 수행된 시간 정보 출력 -->
        <logger name="jdbc.audit" level="OFF" /> <!-- ResultSet을 제외한 모든 JDBC 호출 정보 -->
        <logger name="jdbc.resultset" level="OFF" /> <!-- ResultSEt을 포함한 모든 JDBC 호출 정보 -->
        <logger name="jdbc.resultsettable" level="DEBUG" /> <!-- SQL 결과 조회된 데이터의 table -->
        <logger name="jdbc.connection" level="OFF" />

        <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE -->
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>